<div id="title">Mutual Funds</div>
<div class="back-icon" (click)="navigateHome()">&#x21d0;</div>
<div class="container" *ngIf="data">
         <div class="day-container">
                <h1>{{data.MaxDate | date:'EEEE, dd MMMM'}}</h1>
                <div class="day-return-amnt pstv-amnt" *ngIf = "data.SingleNodes[0].Daily_Ret >= 0">+&#8377;{{data.SingleNodes[0].Daily_Ret | number}}  &nbsp;  ({{data.SingleNodes[0].Daily_Per}}%)</div>
                <div class="day-return-amnt ngtv-amnt" *ngIf = "data.SingleNodes[0].Daily_Ret < 0">-&#8377;{{data.SingleNodes[0].Daily_Ret*-1 | number}}  &nbsp;  ({{data.SingleNodes[0].Daily_Per*-1}}%)</div>
                <div class="day-other-return-amnt">
                        <div *ngIf = "data.SingleNodes[0].Yest_Ret >= 0"><span class="amnt-header">Yesterday :</span><span class="pstv-amnt"> +&#8377;{{data.SingleNodes[0].Yest_Ret | number}} ({{data.SingleNodes[0].Yest_Per}}%)</span></div>
                        <div *ngIf = "data.SingleNodes[0].Yest_Ret < 0"><span class="amnt-header">Yday :</span><span class="ngtv-amnt"> -&#8377;{{data.SingleNodes[0].Yest_Ret*-1 | number}} ({{data.SingleNodes[0].Yest_Per*-1}}%)</span></div>
                        <div *ngIf = "data.SingleNodes[0].Weekly_Ret >= 0"><span class="amnt-header">Week :</span><span class="pstv-amnt"> +&#8377;{{data.SingleNodes[0].Weekly_Ret | number}} ({{data.SingleNodes[0].Weekly_Per}}%)</span></div>
                        <div *ngIf = "data.SingleNodes[0].Weekly_Ret < 0"><span class="amnt-header">Week :</span><span class="ngtv-amnt"> -&#8377;{{data.SingleNodes[0].Weekly_Ret*-1 | number}} ({{data.SingleNodes[0].Weekly_Per*-1}}%)</span></div>
                        <div *ngIf = "data.SingleNodes[0].Monthly_Ret >= 0"><span class="amnt-header">Month :</span><span class="pstv-amnt"> +&#8377;{{data.SingleNodes[0].Monthly_Ret | number}} ({{data.SingleNodes[0].Monthly_Per}}%)</span></div>
                        <div *ngIf = "data.SingleNodes[0].Monthly_Ret < 0"><span class="amnt-header">Month :</span><span class="ngtv-amnt"> -&#8377;{{data.SingleNodes[0].Monthly_Ret*-1 | number}} ({{data.SingleNodes[0].Monthly_Per*-1}}%)</span></div>
                </div>
                <div class="day-sub-return-cont">
                        <div class="day-sub-return" *ngFor="let user of data.UserNodes" (click)="expandDayOverview(user.Name, 'open')" [ngClass]="{ 'expanded': user.isExpandedDay }">
                                <div class="container-title" (click)="expandDayOverview(user.Name, 'close')">{{user.Name}}</div>
                                <div class="container-content">                         
                                        <div class="day-sub-return-amnt pstv-amnt" *ngIf = "user.Daily_Ret >= 0" >+&#8377;{{user.Daily_Ret | number}} <span class="ret-per">({{user.Daily_Per}}%)</span></div>
                                        <div class="day-sub-return-amnt ngtv-amnt" *ngIf = "user.Daily_Ret < 0" >-&#8377;{{user.Daily_Ret*-1 | number}} <span class="ret-per">({{user.Daily_Per*-1}}%)</span></div>
                                        <div class="day-user-other-return" *ngIf = "!user.isExpandedDay">
                                                <div class="day-user-other-return-amnt pstv-amnt" *ngIf = "user.Yest_Ret >= 0"><span class="amnt-header">Y :</span> +&#8377;{{user.Yest_Ret | number}} ({{user.Yest_Per}}%)</div>
                                                <div class="day-user-other-return-amnt ngtv-amnt" *ngIf = "user.Yest_Ret < 0"><span class="amnt-header">Y :</span> -&#8377;{{user.Yest_Ret*-1 | number}} ({{user.Yest_Per*-1}}%)</div>
                                                <div class="day-user-other-return-amnt pstv-amnt" *ngIf = "user.Weekly_Ret >= 0"><span class="amnt-header">W :</span> +&#8377;{{user.Weekly_Ret | number}} ({{user.Weekly_Per}}%)</div>
                                                <div class="day-user-other-return-amnt ngtv-amnt" *ngIf = "user.Weekly_Ret < 0"><span class="amnt-header">W :</span> -&#8377;{{user.Weekly_Ret*-1 | number}} ({{user.Weekly_Per*-1}}%)</div>
                                                <div class="day-user-other-return-amnt pstv-amnt" *ngIf = "user.Monthly_Ret >= 0"><span class="amnt-header">M :</span> +&#8377;{{user.Monthly_Ret | number}} ({{user.Monthly_Per}}%)</div>
                                                <div class="day-user-other-return-amnt ngtv-amnt" *ngIf = "user.Monthly_Ret < 0"><span class="amnt-header">M :</span> -&#8377;{{user.Monthly_Ret*-1 | number}} ({{user.Monthly_Per*-1}}%)</div>
                                        </div>
                                        <div class="day-sub-details" *ngIf = "user.isExpandedDay" >
                                                <table class="day-sub-details-tbl">
                                                        <thead>
                                                                <tr>
                                                                        <th></th>
                                                                        <th>TODAY</th>
                                                                        <th>YESTERDAY</th>
                                                                        <th>WEEK</th>
                                                                        <th>MONTH</th>
                                                                </tr>
                                                        </thead>
                                                        <ng-container *ngFor="let MutualFund of user.MutualFunds">
                                                                <tr (click)="expandMutualFundDaily(user.Name, MutualFund.MFId)">
                                                                        <td>{{ MutualFund.MutualFund }}</td>
                                                                        <td *ngIf = "MutualFund.Daily_Ret === undefined" class="pstv-amnt"></td>
                                                                        <td *ngIf = "MutualFund.Daily_Ret >= 0" class="pstv-amnt">&#8377;{{ MutualFund.Daily_Ret | number}} <br/> <span class="day-perct">{{ MutualFund.Daily_Per }}%</span></td>
                                                                        <td *ngIf = "MutualFund.Daily_Ret < 0" class="ngtv-amnt">-&#8377;{{ MutualFund.Daily_Ret*-1 | number}} <br/>  <span class="day-perct">{{ MutualFund.Daily_Per*-1 }}%</span></td>
                                                                        <td *ngIf = "MutualFund.Yest_Ret === undefined" class="pstv-amnt"></td>
                                                                        <td *ngIf = "MutualFund.Yest_Ret >= 0" class="pstv-amnt">&#8377;{{ MutualFund.Yest_Ret | number}} <br/>  <span class="day-perct">{{ MutualFund.Yest_Per }}%</span></td>
                                                                        <td *ngIf = "MutualFund.Yest_Ret < 0" class="ngtv-amnt">-&#8377;{{ MutualFund.Yest_Ret*-1 | number}} <br/>  <span class="day-perct">{{ MutualFund.Yest_Per*-1 }}%</span></td>
                                                                        <td *ngIf = "MutualFund.Weekly_Ret === undefined" class="pstv-amnt"></td>
                                                                        <td *ngIf = "MutualFund.Weekly_Ret >= 0" class="pstv-amnt">&#8377;{{ MutualFund.Weekly_Ret | number}} <br/>  <span class="day-perct">{{ MutualFund.Weekly_Per }}%</span></td>
                                                                        <td *ngIf = "MutualFund.Weekly_Ret < 0" class="ngtv-amnt">-&#8377;{{ MutualFund.Weekly_Ret*-1 | number}} <br/>  <span class="day-perct">{{ MutualFund.Weekly_Per*-1 }}%</span></td>
                                                                        <td *ngIf = "MutualFund.Monthly_Ret >= 0" class="pstv-amnt">&#8377;{{ MutualFund.Monthly_Ret | number}} <br/>  <span class="day-perct">{{ MutualFund.Monthly_Per }}%</span></td>
                                                                        <td *ngIf = "MutualFund.Monthly_Ret < 0" class="ngtv-amnt">-&#8377;{{ MutualFund.Monthly_Ret*-1 | number}} <br/>  <span class="day-perct">{{ MutualFund.Monthly_Per*-1 }}%</span></td>
                                                                        
                                                                </tr>
                                                               <tr *ngIf="MutualFund.isExpandedDaily">
                                                                        <td colspan="5">
                                                                                <table class="sub-table">
                                                                                        <ng-container *ngFor="let purchase of MutualFund.Purchase">
                                                                                                <tr>
                                                                                                        <td>{{purchase.PurchaseDate}} <br /> N : {{purchase.Purchase_NAV}}</td>
                                                                                                        <td *ngIf = "purchase.Daily_Ret === undefined" class="pstv-amnt"></td>
                                                                                                        <td *ngIf = "purchase.Daily_Ret >= 0" class="pstv-amnt">&#8377;{{ purchase.Daily_Ret | number}} <br/> <span class="day-perct">{{ purchase.Daily_Per }}%</span></td>
                                                                                                        <td *ngIf = "purchase.Daily_Ret < 0" class="ngtv-amnt">-&#8377;{{ purchase.Daily_Ret*-1 | number}} <br/>  <span class="day-perct">{{ purchase.Daily_Per*-1 }}%</span></td>
                                                                                                        <td *ngIf = "purchase.Yest_Ret === undefined" class="pstv-amnt"></td>
                                                                                                        <td *ngIf = "purchase.Yest_Ret >= 0" class="pstv-amnt">&#8377;{{ purchase.Yest_Ret | number}} <br/>  <span class="day-perct">{{ purchase.Yest_Per }}%</span></td>
                                                                                                        <td *ngIf = "purchase.Yest_Ret < 0" class="ngtv-amnt">-&#8377;{{ purchase.Yest_Ret*-1 | number}} <br/>  <span class="day-perct">{{ purchase.Yest_Per*-1 }}%</span></td>
                                                                                                        <td *ngIf = "purchase.Weekly_Ret === undefined" class="pstv-amnt"></td>
                                                                                                        <td *ngIf = "purchase.Weekly_Ret >= 0" class="pstv-amnt">&#8377;{{ purchase.Weekly_Ret | number}} <br/>  <span class="day-perct">{{ purchase.Weekly_Per }}%</span></td>
                                                                                                        <td *ngIf = "purchase.Weekly_Ret < 0" class="ngtv-amnt">-&#8377;{{ purchase.Weekly_Ret*-1 | number}} <br/>  <span class="day-perct">{{ purchase.Weekly_Per*-1 }}%</span></td>
                                                                                                        <td *ngIf = "purchase.Monthly_Ret >= 0" class="pstv-amnt">&#8377;{{ purchase.Monthly_Ret | number}} <br/>  <span class="day-perct">{{ purchase.Monthly_Per }}%</span></td>
                                                                                                        <td *ngIf = "purchase.Monthly_Ret < 0" class="ngtv-amnt">-&#8377;{{ purchase.Monthly_Ret*-1 | number}} <br/>  <span class="day-perct">{{ purchase.Monthly_Per*-1 }}%</span></td>                        
                                                                                                </tr>
                                                                                        </ng-container>
                                                                                </table>
                                                                        </td>
                                                                        
                                                               </tr>
                                                        </ng-container>
                                                        <tr style="background-color: #dfdfdf;">
                                                                <td></td>
                                                                <td *ngIf = "user.Daily_Ret >= 0" class="pstv-amnt">&#8377;{{ user.Daily_Ret | number}} <br/> <span class="day-perct">{{ user.Daily_Per }}%</span></td>
                                                                <td *ngIf = "user.Daily_Ret < 0" class="ngtv-amnt">-&#8377;{{ user.Daily_Ret*-1 | number}} <br/>  <span class="day-perct">{{ user.Daily_Per*-1 }}%</span></td>
                                                                <td *ngIf = "user.Yest_Ret >= 0" class="pstv-amnt">&#8377;{{ user.Yest_Ret | number}} <br/>  <span class="day-perct">{{ user.Yest_Per }}%</span></td>
                                                                <td *ngIf = "user.Yest_Ret < 0" class="ngtv-amnt">-&#8377;{{ user.Yest_Ret*-1 | number}} <br/>  <span class="day-perct">{{ user.Yest_Per*-1 }}%</span></td>
                                                                <td *ngIf = "user.Weekly_Ret >= 0" class="pstv-amnt">&#8377;{{ user.Weekly_Ret | number}} <br/>  <span class="day-perct">{{ user.Weekly_Per }}%</span></td>
                                                                <td *ngIf = "user.Weekly_Ret < 0" class="ngtv-amnt">-&#8377;{{ user.Weekly_Ret*-1 | number}} <br/>  <span class="day-perct">{{ user.Weekly_Per*-1 }}%</span></td>
                                                                <td *ngIf = "user.Monthly_Ret >= 0" class="pstv-amnt">&#8377;{{ user.Monthly_Ret | number}} <br/>  <span class="day-perct">{{ user.Monthly_Per }}%</span></td>
                                                                <td *ngIf = "user.Monthly_Ret < 0" class="ngtv-amnt">-&#8377;{{ user.Monthly_Ret*-1 | number}} <br/>  <span class="day-perct">{{ user.Monthly_Per*-1 }}%</span></td>
                                                        </tr>
                                                </table>
                                        </div>
                                </div>
                                
                        </div>
                </div>
         </div>
         <div class="overall-container">
                <h1>Overall Return</h1>
                <div class="day-return-amnt pstv-amnt" *ngIf = "data.SingleNodes[0].Total_Ret >= 0">+&#8377;{{data.SingleNodes[0].Total_Ret | number}} &nbsp; ({{data.SingleNodes[0].Total_Per}}%)</div>
                <div class="day-return-amnt ngtv-amnt" *ngIf = "data.SingleNodes[0].Total_Ret < 0">-&#8377;{{data.SingleNodes[0].Total_Ret*-1 | number}} &nbsp; ({{data.SingleNodes[0].Total_Per*-1}}%)</div>
                <div class="day-other-return-amnt">
                        
                        <div *ngIf = "data.SingleNodes[0].MaxReturn >= 0"><span class="amnt-header">Max Ret :</span><span class="pstv-amnt"> +&#8377;{{formatToLacs(data.SingleNodes[0].MaxReturn)}} ({{data.SingleNodes[0].Max_Per}}%)</span></div>
                        <div *ngIf = "data.SingleNodes[0].MaxReturn < 0"><span class="amnt-header">Max Ret :</span><span class="ngtv-amnt"> -&#8377;{{formatToLacs(data.SingleNodes[0].MaxReturn*-1)}} ({{data.SingleNodes[0].Max_Per*-1}}%)</span></div>
                        <div *ngIf = "data.SingleNodes[0].Investments <= data.SingleNodes[0].MarketValue"><span class="amnt-header">M Value :</span><span class="pstv-amnt"> &#8377;{{formatToLacs(data.SingleNodes[0].MarketValue)}}</span></div>
                        <div *ngIf = "data.SingleNodes[0].Investments > data.SingleNodes[0].MarketValue"><span class="amnt-header">M Value :</span><span class="ngtv-amnt"> &#8377;{{formatToLacs(data.SingleNodes[0].MarketValue)}}</span></div>
                        <div *ngIf = "data.SingleNodes[0].DownFromMax === data.SingleNodes[0].MarketValue"><span class="amnt-header">Down :</span><span class="max-amnt"> &#8377;{{formatToLacs(data.SingleNodes[0].DownFromMax)}} ({{ data.SingleNodes[0].DownMax_Per }}%) </span></div>
                        <div *ngIf = "data.SingleNodes[0].DownFromMax > 0"><span class="amnt-header">Down :</span> <span class="ngtv-amnt"> &#8377;{{formatToLacs(data.SingleNodes[0].DownFromMax)}} ({{ data.SingleNodes[0].DownMax_Per }}%)</span></div>                  
                        <div class=""><span class="amnt-header">Invested :</span> &#8377;{{formatToLacs(data.SingleNodes[0].Investments)}}</div>
                </div>
                <div class="day-sub-return-cont">
                        <div class="day-sub-return" *ngFor="let user of data.UserNodes" (click)="expandOverall(user.Name, 'open')" [ngClass]="{ 'expanded': user.isExpandedAll }">
                                <div class="container-title" (click)="expandOverall(user.Name, 'close')">{{user.Name}}</div>
                                <div class="container-content">
                                        <div class="day-sub-return-amnt pstv-amnt" *ngIf = "user.Total_Ret >= 0" >+&#8377;{{user.Total_Ret | number}}  <span class="ret-per">({{user.Total_Per }}%)</span></div>
                                        <div class="day-sub-return-amnt ngtv-amnt" *ngIf = "user.Total_Ret < 0" >-&#8377;{{user.Total_Ret*-1 | number}}  <span class="ret-per">({{user.Total_Per*-1}}%)</span></div>        
                                        <div class="day-user-other-return" [ngClass]="{ 'expanded': user.isExpandedAll }">
                                                <div class="day-user-other-return-amnt" *ngIf = "user.MaxReturn >= 0"><span class="amnt-header">Max :</span><span class="pstv-amnt"> +&#8377;{{formatToLacs(user.MaxReturn)}} ({{user.Max_Per}}%)</span></div>                                               
                                                <div class="day-user-other-return-amnt"  *ngIf = "user.DownFromMax === user.MarketValue"><span class="amnt-header">Down :</span><span class="max-amnt"> &#8377;{{formatToLacs(user.DownFromMax)}} ({{ user.DownMax_Per }}%)</span></div>
                                                <div class="day-user-other-return-amnt"  *ngIf = "user.DownFromMax > 0"><span class="amnt-header">Down :</span><span class="ngtv-amnt"> &#8377;{{formatToLacs(user.DownFromMax)}} ({{ user.DownMax_Per }}%)</span></div>    
                                                <div class="day-user-other-return-amnt"  *ngIf = "user.Investments <= user.MarketValue"><span class="amnt-header">M Value :</span><span class="pstv-amnt"> &#8377;{{formatToLacs(user.MarketValue)}}</span></div>
                                                <div class="day-user-other-return-amnt"  *ngIf = "user.Investments > user.MarketValue"><span class="amnt-header">M Value :</span><span class="ngtv-amnt"> &#8377;{{formatToLacs(user.MarketValue)}}</span></div>
                                                <div class="day-user-other-return-amnt"><span class="amnt-header">Invested :</span> &#8377;{{formatToLacs(user.Investments)}}</div>
                                        </div>
                                        <div class="all-sub-container" *ngIf = "user.isExpandedAll" >
                                                <ng-container *ngFor="let MutualFund of user.MutualFunds">
                                                        <div class="all-sub-details" [ngClass]="{ 'mf-opened' : MutualFund.isExpandedOverview }">
                                                                <div class="name-return" (click)="expandMutualFundOverView(user.Name, MutualFund.MFId)" [ngClass]="{ 'opened' : MutualFund.isExpandedOverview }">
                                                                        <div>{{MutualFund.MutualFund}}</div>
                                                                        <div *ngIf = "MutualFund.Total_Ret >= 0 && MutualFund.DownFromMax === 0" class="pstv-amnt">+&#8377;{{ MutualFund.Total_Ret | number}}  ({{ MutualFund.Total_Per }}%)</div>
                                                                        <div *ngIf = "MutualFund.Total_Ret >= 0 && MutualFund.DownFromMax != 0" class="mid-amnt">+&#8377;{{ MutualFund.Total_Ret | number}}  ({{ MutualFund.Total_Per }}%)</div>
                                                                        <div *ngIf = "MutualFund.Total_Ret < 0" class="ngtv-amnt">-&#8377;{{ MutualFund.Total_Ret*-1 | number}}  ({{ MutualFund.Total_Per*-1 }}%)</div>                                                        
                                                                </div>
                                                                <div [ngClass]="{ 'mf-body' : MutualFund.isExpandedOverview }">
                                                                        <div class="other-amounts" *ngIf = "MutualFund.isExpandedOverview">
                                                                                <div class="day-user-other-return-amnt " *ngIf = "MutualFund.MaxReturn >= 0"><span class="amnt-header">Max Return:</span><span class="pstv-amnt"> &#8377;{{MutualFund.MaxReturn | number}} ({{MutualFund.Max_Per}}%)</span></div>                                               
                                                                                <div class="day-user-other-return-amnt"  *ngIf = "MutualFund.Investments <= MutualFund.MarketValue"><span class="amnt-header">M Value :</span><span class="pstv-amnt"> &#8377;{{formatToLacs(MutualFund.MarketValue)}}</span></div>
                                                                                <div class="day-user-other-return-amnt"  *ngIf = "MutualFund.Investments > MutualFund.MarketValue"><span class="amnt-header">M Value :</span><span class="ngtv-amnt"> &#8377;{{MutualFund.MarketValue | number}}</span></div>                               
                                                                                <div class="day-user-other-return-amnt"  *ngIf = "MutualFund.DownFromMax === MutualFund.MarketValue"><span class="amnt-header">Down :</span><span class="max-amnt"> &#8377;{{MutualFund.DownFromMax | number}} ({{ MutualFund.DownMax_Per }}%)</span></div>
                                                                                <div class="day-user-other-return-amnt"  *ngIf = "MutualFund.DownFromMax > 0"><span class="amnt-header">Down :</span><span class="ngtv-amnt"> &#8377;{{MutualFund.DownFromMax | number}} ({{ MutualFund.DownMax_Per }}%)</span></div>    
                                                                                <div class="day-user-other-return-amnt"><span class="amnt-header">Investment :</span> &#8377;{{formatToLacs(MutualFund.Investments)}}</div>
                                                                        </div>
                                                                        <div class="nav-details" *ngIf = "MutualFund.isExpandedOverview">
                                                                                <div class="nav-details-sub">
                                                                                        <div>PURCHASE</div>
                                                                                        <div class="right-arrow">&#10230;</div>
                                                                                        <div><span class="amnt-header">Avg :</span> {{MutualFund.Avg_Purchase_NAV}}</div>
                                                                                        <div><span class="amnt-header">Min :</span> {{MutualFund.Min_Purchase }}</div>
                                                                                        <div><span class="amnt-header">Max :</span> {{MutualFund.Max_Purchase }}</div>
                                                                                </div>
                                                                                <div class="nav-details-sub">
                                                                                        <div><span class="amnt-header">Cur :</span> {{MutualFund.NAV}} </div>
                                                                                        <div><span class="amnt-header">Max :</span> {{MutualFund.Max_NAV }} ({{MutualFund.Max_NDate}})</div>
                                                                                        <div><span class="amnt-header">Min :</span> {{MutualFund.Min_NAV }} ({{MutualFund.Min_NDate}})</div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="expand-btn" *ngIf = "MutualFund.isExpandedOverview">
                                                                                <button class="flat-arrow-btn" (click)="togglePurchase(user.Name, MutualFund.MFId)">
                                                                                        <img src="expand-icon.png" height="10px" *ngIf = "!MutualFund.isPurchaseShow">
                                                                                        <!-- <img src="collapse-icon.png" height="10px" *ngIf = "MutualFund.isPurchaseShow">  -->
                                                                                </button>
                                                                        </div>
                                                                        <div *ngIf = "MutualFund.isPurchaseShow && MutualFund.isExpandedOverview">
                                                                                <table class="sub-table">
                                                                                        <thead>
                                                                                                <tr>
                                                                                                        <th>Date / NAV</th>
                                                                                                        <th>Amount / Units</th>
                                                                                                        <th>Return</th>
                                                                                                        <th>Maximum</th>
                                                                                                        <th>Down</th>
                                                                                                </tr>
                                                                                        </thead>
                                                                                        <ng-container *ngFor="let purchase of MutualFund.Purchase">
                                                                                                <tr>
                                                                                                        <td>{{purchase.PurchaseDate }} <br/> <span class="day-perct">{{purchase.Purchase_NAV | number}}</span></td>
                                                                                                        <td>&#8377;{{purchase.Investments | number}} <br /> <span class="day-perct">{{purchase.Units | number}}</span></td>
                                                                                                        <td *ngIf = "purchase.Total_Ret >= 0 && purchase.DownFromMax === 0" class="pstv-amnt">&#8377;{{ purchase.Total_Ret | number}} <br/> <span class="day-perct">{{ purchase.Total_Per }}%</span></td>
                                                                                                        <td *ngIf = "purchase.Total_Ret >= 0 && purchase.DownFromMax != 0" class="mid-amnt">&#8377;{{ purchase.Total_Ret | number}} <br/> <span class="day-perct">{{ purchase.Total_Per }}%</span></td>
                                                                                                        <td *ngIf = "purchase.Total_Ret < 0" class="ngtv-amnt">-&#8377;{{ purchase.Total_Ret*-1 | number}} <br/> <span class="day-perct">{{ purchase.Total_Per*-1 }}%</span></td>
                                                                                                        <td class="max-amnt">{{purchase.MaxReturn | number}} <br /> <span class="day-perct">{{ purchase.Max_Per }}%</span></td>
                                                                                                        <td *ngIf = "purchase.DownFromMax === 0" class="max-amnt">&#8377;{{ purchase.DownFromMax | number}} <br/> <span class="day-perct">{{ purchase.DownMax_Per }}%</span></td>
                                                                                                        <td *ngIf = "purchase.DownFromMax > 0" class="ngtv-amnt">&#8377;{{ purchase.DownFromMax | number}} <br/> <span class="day-perct">{{ purchase.DownMax_Per }}%</span></td>
                                                                                                </tr>
                                                                                        </ng-container>
                                                                                </table>
                                                                                <div class="expand-btn" *ngIf = "MutualFund.isExpandedOverview">
                                                                                        <button class="flat-arrow-btn" (click)="togglePurchase(user.Name, MutualFund.MFId)">
                                                                                                <img src="collapse-icon.png" height="10px" *ngIf = "MutualFund.isPurchaseShow"> 
                                                                                        </button>
                                                                                </div>
                                                                        </div>
                                                                </div >
                                                        </div>       
                                                </ng-container>                     
                                        </div>
                                </div>
                        </div>
                </div>
         </div>
</div>
