<div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
          <div class="title">
            Nem's World
          </div>
          <div class="fields">
            <div class="field">
              <input
                id="IP"
                type="text"
                formControlName="IP"
                placeholder=" "
              />
              <label for="email">IP</label>         
            </div>
      
            <div class="field" style="margin-top: 20px;">
              <input
                id="Port"
                type="text"
                formControlName="Port"
                placeholder=" "
              />
              <label for="Port">Port</label>
            </div>               
            <div class="field">
              <button type="submit" [disabled]="loginForm.invalid">Set</button>
            </div>
        </div>
        </form>
</div>
      