#title{
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(63, 112, 181);
        color: rgb(255, 255, 255);
        font-size: 28px;
        font-weight: bolder;
        padding: 15px;
        width: calc(100% - 30px);
        text-align: center;
        position: fixed;
        top: 0;
}
.back-icon{
        position: fixed;
        left:30px;
        top:2px;
        font-size: 45px;
        color: white;
        cursor: pointer;
}
h2{
        margin-bottom: 10px;     
        margin-top: 70px;
        text-align: center;
}
.container{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* height: 100%; */
        flex-direction: row;  
        flex-wrap: wrap;
        gap: 10px 30px;
        /* overflow-x: auto; */
}
.stock-rate-container{
        display: flex;
        flex-direction: column;
        padding: 6px 8px;
        background-color: #e6f3f6;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
        height: 100%;
}
.container-title{
        font-size: 20px;
        font-weight: 550;
        padding: 4px 5px;
        color: rgb(19, 60, 117);
        text-align: center;
}
.live-time{
        font-size: 16px;
        font-weight: 550;
        text-align: center;
        color:rgb(14, 66, 68);
        margin: 3px;
        animation: blink 2s infinite;
}
@keyframes blink {
        0%, 100% {
                opacity: 1; /* Fully visible */
        }
        50% {
                opacity: 0.5; /* Fully hidden */
        }
}
.stock-rate-tbl-cont{
        height: 150px;
        overflow-y: hidden;
        margin-bottom: 5px;
}
/* .user_symbl-tbl-cont{
} */
.stock-rate-tbl-cont.expanded{
        height: 100%;
        overflow-y: auto;
}
.stock-rate-tbl{
        font-size: 15px;
        border-collapse: collapse;
        width: 100%;
        color: rgb(84, 84, 84);
}
.stock-rate-tbl tr th{
        padding: 8px;
        color: rgb(63, 112, 181);
}
.stock-rate-tbl tr td{
        padding: 3px 8px;
        text-align: right;
        font-weight: 600;
        border-bottom: 1px solid #a7a7a7;
}
.stock-rate-tbl tr:last-child td{
        border-bottom: none;
}
.stock-rate-tbl tr td:first-child{
        text-align: left;
        font-weight: 600;
        color: rgb(63, 112, 181);
}
.users-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row; 
        flex-wrap: wrap;
        padding: 6px;
        font-size: 18px;
        font-weight: 600;
        color: rgb(63, 112, 181);
        gap: 10px;
}
.user-container{
        background-color: #e6f3f6;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
        padding: 6px;
        width: 188px;
        cursor: pointer;
}
.user-container.expanded{
        width: 350px;
}
.user-container.expanded .i1{
        order: 1;
}
.user-container.expanded .i2{
        order: 3;
}
.user-container.expanded .i3{
        order: 2;
}
.user-container.expanded .i4{
        order: 4;
}
.user-amnts-container{
        display: flex;
        flex-direction: column;
        padding: 4px 2px;
}
.user-amnts-container.expanded{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
}
.user-amnts{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4px 3px;
        font-size: 13px;
}
.user-symbol-row td{
        border-bottom: none !important;
}
.symbol-max-row{
        /* color: rgb(102, 101, 101); */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* gap: 3px 50px; */
}
.purchase-tbl{
        font-size: 11px;
        color: rgb(102, 101, 101);
        width: 100%;
        border-collapse: collapse;
}
.purchase-tbl thead tr th{
        text-align: center;
        padding: 1px;
}
.purchase-tbl tr td{
        text-align: right;
        border: none;
}
.purchase-tbl tr td:first-child{
        padding-left: 0;
}
.purchase-tbl tr td:last-child{
        padding-right: 0;
}
.ngtv-amnt{
        color: #ff4f4f;
}
.pstv-amnt{
        color: rgb(1, 177, 1);
}
.inv-amnt{
        color: rgb(102, 101, 101);
}
.day-rate-chang{
        font-size: 11.5px;
        font-weight: 600;
}
.day-hl{
        font-size: 12.5px;
}

.expand-btn{
        display: flex;
        justify-content: center;
}
.flat-arrow-btn {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        padding: 0;
        margin: 0;
        transition: transform 0.2s ease;
}
.flat-arrow-btn:hover {
        transform: translateY(2px);
}
.flat-arrow-btn:focus {
        outline: none;
}