.container{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        height: 100%;
        flex-direction: row;  
        flex-wrap: wrap;
        gap: 0 50px;
        /* overflow-x: hidden; */
}

#title{
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(63, 112, 181);
        color: rgb(255, 255, 255);
        font-size: 28px;
        font-weight: bolder;
        padding: 15px;
        width: 100%;
        text-align: center;
}

h1{
        margin-bottom: 10px;
}
.day-container, .overall-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* background-color: #f5f5f5; */
        flex-direction: column;  
        /* overflow-x: hidden; */
}

.day-return-amnt{
        font-size: 32px;
        font-weight: 550;
        /* color: rgb(0, 211, 0); */
}
.day-other-return-amnt{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px 20px;
        flex-wrap: wrap;
}
.day-sub-return-cont{
        margin: 20px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: row;
        flex-wrap: wrap;  
        gap: 15px;
}
.day-sub-return{
        width: 150px;
        height: 100%;
        border-radius: 18px;
        color: rgb(63, 112, 181);
        background-color: #e6f3f6;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 8px 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        transition: all 0.3s ease-out;
        /* transition: width 0.3s ease-out; */
        cursor: pointer;
        overflow: hidden;
        user-select: none;
        transform-origin: left;
}
.day-sub-return.expanded{
        width: 340px;
}
.day-sub-overview{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin: 6px auto;
        gap: 8px 15px;
        font-size: 18px;
}
.day-sub-overview.expanded{
        flex-direction: row;
}
.day-sub-return-amnt{
        font-size: 21px;
}
.day-sub-return-perct{
        font-weight: 100;
        color: black;
}
.day-user-other-return{
        font-weight: 100;
        font-size: 15px;
        text-align: left;
}
.day-user-other-return-amnt{
        margin-bottom: 5px;
}
.day-sub-details-tbl{
        border-collapse: collapse;
        font-size: 15px;
        margin-top: 12px;
        color: rgb(91, 91, 91);
        width: 100%;
}
.day-sub-details-tbl tr{
        border-bottom: 1px gray;
}
.day-sub-details-tbl td{
        padding: 4px;
        white-space: nowrap;
        overflow: hidden;
}
.day-sub-details-tbl td:first-child{
        text-align: left;
}
.day-sub-details-tbl td:nth-child(2), td:nth-child(3){
        text-align: right;
}
.ngtv-amnt{
        color: #ff1f20;
}
.pstv-amnt{
        color: rgb(1, 177, 1);
}